<a href="https://colab.research.google.com/github/yusufsjustit/13-Python-Projects/blob/main/Python_Day_2_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Shortcut operators

In [ ]:
# If you want update value of a variable, we can use shortcut operators
a = 1
# increase number by 2 and updated the value
a = a + 2 #this expression can be written as a +=2
# 1+2 =3
a += 2
# 3+2 =5
print(a)

5

In [ ]:
b = 1
b *= 3 # b = b * 3
b /= 3 # b = b / 3
b -= 3 # b = b -3
print(b)

b = b *3/2

print(b)

-2.0
-3.0

## Comparison operators

In [ ]:
print(2>3)

False

In [ ]:
print(2 <=3)

True

= is used for assigment. assigment operator

In [ ]:
print(2 == 3)
# == comparison equal

False

In [ ]:
print(2 =2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (ipython-input-3818992666.py, line 1)

In [ ]:
print(3==2)

False

In [ ]:
print(3>2)
print(3 >=2)

True
True

 - how to compare if two values are not equal
 - != is for not equal

In [ ]:
print(2 != 3)
print(2 != 2)
# print(2 <> 3) not equal in sql

SyntaxError: invalid syntax (ipython-input-1949997161.py, line 3)

# If statement

In [ ]:
password = 123
user_entry = int(input("Please enter your password:"))

if user_entry == password:
  print("Access is granted.")
#if user entered corrent password, print statement will be executed.

if user_entry != password:
  print("Access is denied.")

Please enter your password:258
Access is denied.

## elif means else if. check another condition when if condition is false. elif is dependent on if condition

In [ ]:
a = 3
b = 4
if a == b:
  print(f"{a} is equal to {b}")

elif a >b:
  print(f"{a} is greater than {b}")

elif a < b:
  print(f"{a} is less than {b}")

3 is less than 4

In [ ]:
a = 5
b = 4
if a == b:
  print(f"{a} is equal to {b}")

elif a >b:
  print(f"{a} is greater than {b}")

elif a < b:
  print(f"{a} is less than {b}")

5 is greater than 4

In [ ]:
a = 4
b = 4
if a == b:
  print(f"{a} is equal to {b}")

elif a >b:
  print(f"{a} is greater than {b}")

elif a < b:
  print(f"{a} is less than {b}")

4 is equal to 4

In [ ]:
a = int(input("Please enter a number:"))
b = int(input("Please enter a number:"))
if a < b:
  print(f"{a} is less than {b}")
elif a >b:
  print(f"{a} is greater than {b}")

else :
  print(f"{a} is equal to {b}")

Please enter a number:20
Please enter a number:20

In [ ]:
# Write a program, that will return if number entered by the user is divisible of 3 and 7

In [ ]:
number = int(input("Please enter a number:"))
if number % 3 == 0 : # divide number by 3 and check if remainder is zero
  if number % 7 ==0:
    print(f"{number} is divisible of 3 and 7.")
else:
    print(f"{number} is divisible of 3 and 7.")

Please enter a number:20
20 is divisible of 3 and 7.

In [ ]:
number = int(input("Please enter a number:"))
if number % 3 == 0 and number % 7 ==0: # divide number by 3 and check if remainder is zero
  print(f"{number} is divisible of 3 and 7.")
else:
    print(f"{number} is not divisible of 3 and 7.")

Please enter a number:20
20 is not divisible of 3 and 7.

In [ ]:
number = int(input("Please enter a number:"))
if number % 3 == 0 or number % 7 ==0: # divide number by 3 and check if remainder is zero
  print(f"{number} is divisible of 3 or 7.")
else:
  print(f"{number} is not divisible of 3 or 7.")

Please enter a number:21
21 is divisible of 3 or 7.

- Write me a Python program to check if a number is positive, negative or zero

In [ ]:
number = int(input("Write the number:"))
if number > 0:
  print("The number is positive")
elif number < 0:
  print("The number is negative")
else:
  print("The number is zero")

Write the number:-5
The number is negative

- Write me a Python program to check if a number entered by the user is odd or even.

In [ ]:
number=int(input("Enter an integer"))
if number % 2 == 0:
  print("the number is even")
else:
  print("the number is odd")

Enter an integer21
the number is odd

In [ ]:
number = int(input("Enter a number : "))
if number%2==0:
  print(number, "is even.")
else:
  print(number, "is odd.")

Enter a number : 20
20 is even.

- Write me a Python program to check if a number entered by the user is multiple of 3.

In [ ]:
number = int(input("Enter a number: "))
if number % 3 == 0:
  print(f"{number} is a multiple of 3.")
else:
  print(f"{number} is not a multiple of 3.")

Enter a number: 20
20 is not a multiple of 3.

- Write me a Python program to check if a number entered by the user is multiple of 3 and 5.

In [ ]:
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
  print("The number is a multiple of both 3 and 5.")
else:
  print("The number is not a multiple of both 3 and 5.")

Enter a number: 20
The number is not a multiple of both 3 and 5.

# While loop

In [ ]:
password = 123
user_entry = int(input("Please enter your password:"))

while password != user_entry:
  print("Password is incorrect. Try again.")
  user_entry = int(input("Please enter your password:"))
  if password == user_entry:
    print("Access is granted.")
    break

Please enter your password:20
Password is incorrect. Try again.
Please enter your password:25
Password is incorrect. Try again.
Please enter your password:2415
Password is incorrect. Try again.
Please enter your password:146010
Password is incorrect. Try again.
Please enter your password:1142
Password is incorrect. Try again.
Please enter your password:123
Access is granted.

## print all  the number from 1 to 10.

In [ ]:
number = 1
while number < 11:
  print(number)
  number = number + 1

1
2
3
4
5
6
7
8
9
10

### Write a python program, they will make user guess the hidden number

In [ ]:
print("Lets play a number guessing game.")
print("I picked a number. Try to guess it.")
secret_number = 20
guess = int(input("Guess the number:"))


if secret_number == guess:
  print("You won!. You are a genius")
else:
  while secret_number != guess:
    print("Incorrect try again.")
    guess = int(input("Guess the number:"))
    if secret_number == guess:
       print("You won!. You are a genius")

Lets play a number guessing game.
I picked a number. Try to guess it.
Guess the number:20
You won!. You are a genius

- you can set number of attemps
- you can prompt higher or lower
- how to randomize secret number

# For loop

In [ ]:
for i in "Yusuf":
  print(i)
#nubmer of iteration is determined by length of the string

Y
u
s
u
f

In [ ]:
customers = ["Anna Taylor", "Wayne Rooney", "M.Salah", "Bruce Wayne"]
for x in customers:
  print(x)

Anna Taylor
Wayne Rooney
M.Salah
Bruce Wayne

In [ ]:
customers = ("Anna Taylor", "Wayne Rooney", "M.Salah", "Bruce Wayne")
for x in customers:
  print(x)

Anna Taylor
Wayne Rooney
M.Salah
Bruce Wayne

In [ ]:
listprice = [1, 2, 3, 4, 5]
for i in listprice:
  print(i + i*0.05)

1.05
2.1
3.15
4.2
5.25

In [ ]:
# Print Numbers from 1 to 5
for i in range(1, 6):
    print(i)
  # stop is 6. its not included in the output

1
2
3
4
5

In [ ]:
#print odd numbers only from 1 to 10
for i in range(1,11, 2):
  print(i)

1
3
5
7
9

In [ ]:
password = 123
for i in range(3):
  user_entry = int(input("Please enter your password:"))
  if password == user_entry:
    print("Access is granted.")
    break
  else:
    print("Password is incorrect. Try again.")

Please enter your password:20
Password is incorrect. Try again.
Please enter your password:20
Password is incorrect. Try again.
Please enter your password:123
Access is granted.

In [ ]:
password = 123
user_entry = int(input("Please enter your password:"))

if password == user_entry:
  print("Access is granted.")

else:
  for i in range(3): # 3 attemp for user
    user_entry = int(input("Please enter your password:"))
    if password == user_entry: # correct password break the loop
      print("Access is granted.")
      break
    else:
      print("Password is incorrect. Try again.")

Please enter your password:20
Please enter your password:21
Password is incorrect. Try again.
Please enter your password:123
Access is granted.

- FizzBuz Game

In [ ]:
for i in range(1,101):
  if i%3 ==0 and i%5==0:
    print("FizzBuzz")

  elif i %5 ==0: # instead of number divisible by 5 print buzz
    print("Buzz")

  elif i %3 ==0: # instead of number divisible by 3 print fizz
    print("Fizz")

  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Collection Types

## List

In [ ]:
mylist = ["apple", "banana", "cherry"]

print(type(mylist))

print(len(mylist))

<class 'list'>
3

In [ ]:
mylist2 =["Mr.X Unknown", 23, True, "UK", "LS1 1AA"]
# to access the customer postcode, I can use slicing method.

print(mylist2[4]) # 4 is index location for postcode

LS1 1AA

- Lets update age of the customer

In [ ]:
mylist2[1]
print(mylist2)

mylist2[1] = 24 # this assigment will update the age
print(mylist2)

['Mr.X Unknown', 23, True, 'UK', 'LS1 1AA']
['Mr.X Unknown', 24, True, 'UK', 'LS1 1AA']

- use append method to insert item at the end of the list

In [ ]:
print(mylist2)
mylist2.append(30000)
print(mylist2)

['Mr.X Unknown', 24, True, 'UK', 'LS1 1AA']
['Mr.X Unknown', 24, True, 'UK', 'LS1 1AA', 30000]

- Tuples

In [ ]:
mytuple= ("apple", "banana", "cherry")
print(type(mytuple))
print(len(mytuple))

<class 'tuple'>
3

In [ ]:
mytuple[2]

'cherry'

In [ ]:
mytuple[1] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
mytuple.append(1)

AttributeError: 'tuple' object has no attribute 'append'

- Sets

In [ ]:
myset= {"apple", "apple", "banana", "cherry"}
print(myset)

{'banana', 'cherry', 'apple'}

In [ ]:
print(myset[1])

TypeError: 'set' object is not subscriptable

- Dictionary

In [ ]:
mydict = {"brand": "Ford",
          "model": "Mustang",
          "year":1964}

SyntaxError: invalid syntax (ipython-input-1530963915.py, line 1)

In [ ]:
mydict.values()

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
print(mylist)
print(mytuple)
print(myset)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
{'banana', 'cherry', 'apple'}

In [ ]:
import sys
# how many bits of size in memory
print("List", sys.getsizeof(mylist))
print("Tuple", sys.getsizeof(mytuple))
print("Set", sys.getsizeof(myset))

List 88
Tuple 64
Set 216