<a href="https://colab.research.google.com/github/yusufsjustit/13-Python-Projects/blob/main/Day_1_Python_Notebook_Regional_06_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# run code

Text cells are used to create section in your notebook.

# This is the title of the section

## This is a sub-section

# This is another section

# Print Function

In [ ]:
!python --version

Python 3.12.12

String object must be enclodes by "" or '' in Python.

In [ ]:
print("Yusuf")

Yusuf

In [ ]:
print('I love football.')

I love football.

In [ ]:
print(3.14)

3.14

In [ ]:
print('I need to study")

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-1702149760.py, line 1)

In [ ]:
print('My father's favorite car is Toyota')

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-2771373131.py, line 1)

In [ ]:
print("My father's favorite car is Toyota")

My father's favorite car is Toyota

## Escape Characters

In [ ]:
print('My father\'s favourite car is Toyota')

My father's favorite car is Toyota

In [ ]:
print("The itsy bitsy spider\nclimbed up the waterspout.")

print()

print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

In [ ]:
print("I am learning Python")

I am learning Python

In [ ]:
print(len("I am learning Python"))

20

In [ ]:
print("print \\")

print \

In [ ]:
print(3.14)

3.14

In [ ]:
print("2" + "3")

print(2 + 3)

23
5

When used between string objects, + will behave like concatenation operator

When used between numeric objects, + will behave like arithmetic operator

In [ ]:
print("2", "3")

2 3

In [ ]:
print("2", 3, True, 3.14)
# this is an example of multiple arguments in Python

2 3 True 3.14

In [ ]:
print("2", 3, True, 3.14) # this is an example of multiple arguments in Python

2 3 True 3.14

In [ ]:
# this is an example of multiple arguments in Python

print("Yusuf", 31)

# here is another example

print(3+5)

Yusuf 31
8

# Variable

In [ ]:
my_name = "Yusuf"
# This code will assign value Yusuf to variable my_name

In [ ]:
print(my_name)

Yusuf

In [ ]:
print(myname)
# myname is not defined

NameError: name 'myname' is not defined

In [ ]:
my_age = 18
print(my_age)

18

In [ ]:
my_age = 33
your_age = 30
my_age = your_age # in this step value of your_age will be assigned to my_age
print(my_age)
print(my_age, your_age)

30
30 30

## Naming Rules


1.   dont start with numbers
2.   dont use space in variable name
3. Dont start with uppercase
4. you can only use _

# input() function

In [ ]:
input("Write something:")

Write something:25

'25'

In [ ]:
print(2)

2

In [ ]:
print("Tell me a joke.")
anything = input()
print("Hmm.. ", anything, "interesting")

Tell me a joke.
you tell me
Hmm..  you tell me interesting

In [ ]:
# simple calculator
print("This is a simple calculator.")
number1 = input("Enter the first number: ")
number2 = input("Enter the second number: ")

print(number1, "added to", number2, "is", number1+number2)

print(type(number1))
print(type(number2))

This is a simple calculator.
Enter the first number: 3.10
Enter the second number: 2.20
3.10 added to 2.20 is 3.102.20
<class 'str'>
<class 'str'>

### There are 3 function for type conversion


1.   int(): convert to integer data type
2.   str(): convert to string data type
3. float(): convert to decimal

In [ ]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = int(input("Enter the first number: ")) # input converted to int
number2 = int(input("Enter the second number: ")) # input converted to int

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 20
Enter the second number: 25
20 added to 25 is 45

In [ ]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 2.0
Enter the second number: 3.4
2.0 added to 3.4 is 5.4

In [ ]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

print(number1, "divided by", number2, "is", number1/number2)

print(number1, "multiply by", number2, "is", number1*number2)

print(number1, "raised to power", number2, "is", number1**number2)

print(number1, "square root", "is", number1**0.5)

This is a simple calculator.
Enter the first number: 16
Enter the second number: 2
16.0 added to 2.0 is 18.0
16.0 divided by 2.0 is 8.0
16.0 multiply by 2.0 is 32.0
16.0 raised to power 2.0 is 256.0
16.0 square root is 4.0